:root {
  /* COLORS */
  --color-sage: #848b79;
  --color-beige: #ece5d1;
  --color-text: #333333;
  --color-white: #ffffff;
  --color-rose: #d8a7a0;

  /* FONTS */
  --font-playfair: "Playfair Display", serif;
  --font-cormorant: "Cormorant Garamond", serif;
  --font-inter: "Inter", sans-serif;
}

/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GLOBAL BODY */
body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: var(--color-beige);
  color: var(--color-text);
}

/* DEFAULT ELEMENTS */
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

/* TYPOGRAPHY DEFAULTS */
h1 {
  font-family: var(--font-playfair);
}

p,
li,
ul {
  font-family: var(--font-inter);
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
